.list-container{
    background-color: #0277bd;
    border-radius: 8px;
    height: auto;
    padding: 16px;
}

.list-container .list{
    padding: 8px;

}

.list .list-item {
    margin-right: 24px;
    color: rgba(249,249,249, 0.90);
}

.list .list-item .list-item-link{
    display: block;
    text-decoration: none;
    color: rgba(249,249,249, 0.80);
}

.list .list-item .list-item-link:hover{
    color: rgba(249,249,249, 1);
}
