.md-bt{
    border:none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}

.md-bt.md-bt-dark{
     color: #fafafa;
     background-color: transparent;
}

.md-bt-dark:hover{
    background-color: #424242;
}

.md-bt-expandable{
    display: flex;
    width: 100%;
    font-weight: bold;
    background-color: rgba(255, 235, 59, 0.75);
    border: none;
    text-align: start;
    padding: 8px;

}

.md-bt-expandable:focus{
    background-color: rgba(255, 235, 59, 1);
}

.md-bt.md-bt-navbar-toggle{
    background-color: transparent;
    color: #eeeeee;
}

.md-bt.md-bt-navbar-toggle:hover{
    background-color: #424242;
    color: #eeeeee;
}
